@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.main-container {
  font-family: "Alata", sans-serif;
  margin: 0 auto;
  text-decoration: none;
  z-index: 10;
  overflow-x: hidden;
}

html {
  width: 100vw;
}

.overlay-div {
  width: 100vw;
  height: 90vh;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.35;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
